/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: fantasy;
  display: flex; 
  justify-content: center;
  align-items: center;
}

main{
  margin-top: 200px;
  background-color: rgba(248, 80, 105, 0.84);
  width: 700px;
  min-height: 500px;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
}

h1, h2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  margin: 20px;
}


/*BUTTON*/
button{
border-radius: 5px;
padding: 10px 15px;
font-size: medium;
font-weight: bold;
margin:10px;
}

.start{
  background-color: bisque;
}


.hide{
  display: none;
}
